# Redis Cloud connection URL
REDIS_URL=redis://default:your_password@your-redis-host.cloud.com:port

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://username:password@your-cluster.mongodb.net/yourdb?retryWrites=true&w=majority

# Database name
MONGO_DB=yourdb